/**********************************
GENERAL
***********************************/

.contact-img{
   background-repeat: no-repeat;
  background-color: white;
   background-image: linear-gradient(
      rgba(255, 255, 255, 0.9), 
      rgba(255, 255, 255, 0.9)
    ),
 url(/img/street.jpg);
 
  background-size: 100%;
  background-attachment: fixed;

}










